.icon-litecoin:before,
.icon-ltc:before {
  content: "Ł";
  font-weight: bold;
}
.icon-dogecoin {
  background: url("https://www.iconninja.com/files/681/210/522/doge-dogecoin-icon.png")
    no-repeat 0 0;
  background-size: 1px 1px;
  width: 14;
  height: 14;
}
