<div id="sobre">
  <h3>Ajude o projeto a Crescer</h3>
  <p class="category">Doe qualquer quantia para uma das carteiras abaixo</p>
  <div class="row">
    <div class="col-md-10 col-xl-7 mr-auto">
      <div class="card">
        <div class="card-header">
          <tabset class="nav-tabs-danger">
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> Monero
              </ng-template>
              <p>Carteira Monero <br /><br /></p>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-settings-gear-63"> </i> Bitcoin
              </ng-template>
              <p>Carteira Bitcoin<br /><br /></p>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-bag-16"> </i> Litecoin
              </ng-template>
              <p>Carteira Litecoin<br /><br /></p> </tab
            ><tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-bag-16"> </i> Dogecoin
              </ng-template>
              <p>Carteira Dogecoin<br /><br /></p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <h1 class="text-center">O encontra aqui?</h1>
      <div class="row row-grid justify-content-center">
        <div class="col-lg-3">
          <div class="info">
            <div class="icon icon-warning">
              <i class="tim-icons icon-chart-pie-36"></i>
            </div>
            <h4 class="info-title">Fácil de usar</h4>
            <hr class="line-warning" />
            <p>
              O serviço oferecido aqui foi criado para que pessoas possam usar
              qualquer computador para mineirar criptomoedas
            </p>
            <p class="text-warning">Sem ter que instalar nada para isso</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info">
            <div class="icon icon-primary">
              <i class="tim-icons icon-money-coins"></i>
            </div>
            <h4 class="info-title">Sem Comissão</h4>
            <hr class="line-primary" />
            <p>
              Tudo o que você minerar aqui é seu e só seu! Você pode optar por
              doar algo para os desenvolvedores na carteira ou por comissão, mas
              ela vem desabilitada por padrão.
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info">
            <div class="icon icon-success">
              <i class="tim-icons icon-spaceship"></i>
            </div>
            <h4 class="info-title">Buscando o melhor</h4>
            <hr class="line-success" />
            <p>
              Caso alguma coisa não esteja funcionando como deveria ou tenha
              alguma sugestão, me envie um email. Vamos criar uma plataforma
              cada vez melhor!
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info">
            <div class="icon icon-success">
              <i class="tim-icons icon-single-02"></i>
            </div>
            <h4 class="info-title">Open Source</h4>
            <hr class="line-success" />
            <p>
              Caso tenha receio de usar nossos serviços, eu entendo, ja cai em
              esquemas em que perdi dinheiro...
            </p>
            <p class="text-success">Mas aqui não!</p>
            <p>
              Não é mineração em nuvem, é na sua máquina! mas pode ler o código
              se se sentir mais confortável com isso
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
