<div>
  <app-header></app-header>
  <div class="wrapper">
    <div class="main">
      <div class="section section-basic" id="basic-elements">
        <img class="path" src="assets/img/path1.png" />
        <div class="container">
          <p class="blockquote blockquote-danger">
            Oi, vi que você tem um bloqueador de anúncios.<br />
            se não for pedir muito, poderia deixar os anúncios habilitados? Este
            é um site gratuído, mas mantê-lo não é...<br />
            Mas pela filosofia do criador deste lugar não quero te obrigar a
            nada.
          </p>
          <router-outlet id="router-outlet"></router-outlet>

          <div class="space-70"></div>
          <app-sobre></app-sobre>
          <div class="space-70"></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
