<div>
  <app-header></app-header>
  <div class="wrapper">
    <div class="main">
      <div class="section section-basic" id="basic-elements">
        <img class="path" src="assets/img/path1.png" />
        <div class="container">
          <router-outlet id="router-outlet"></router-outlet>

          <div class="space-70"></div>
          <div id="sobre">
            <h3>Sobre o Projeto</h3>
            <p class="category">Form Controls</p>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="Regular"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group has-success">
                  <input
                    class="form-control form-control-success"
                    type="text"
                    value="Success"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group has-danger">
                  <input
                    class="form-control form-control-danger"
                    type="email"
                    value="Error Input"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Left Font Awesome Icon"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="Right Nucleo Icon"
                    type="text"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="tim-icons icon-lock-circle"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-70"></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
