<div id="selecao">
  <h2 class="title">Moedas Disponíveis</h2>
  <h3>Selecione qual quer minerar</h3>

  <div class="row">
    <div class="col-md-10">
      <tabset
        type="pills"
        class="nav-pills-danger nav-pills-icons nav-pills-disabled"
      >
        <tab>
          <ng-template tabHeading>
            <div [routerLink]="['/monero']">
              <i class="fab fa-monero"> </i>

              Monero
            </div>
          </ng-template>
        </tab>

        <tab>
          <ng-template tabHeading>
            <i class="fab fa-bitcoin"> </i> Bitcoin
          </ng-template>
        </tab>
      </tabset>
    </div>
  </div>
</div>
